 ul {
   list-style: none;
 }

 .filters-dropdown {
   width: 159px;
   margin-left: 25px;
   margin-bottom: 20px;
 }

 .filter-btn {
   width: 159px;
   height: 48px;
   font-size: 25px;
   border: 0;
   border-radius: 30px;
   background-color: rgb(255, 0, 164);
   cursor: pointer;
 }

 .filters-figure {
   display: flex;
   gap: 5px;
   align-items: center;
 }

 .filters-icon {
   width: 25px;
   height: 25px;
   margin-left: 18px;
 }

 .button-text {
   color: white;
 }

 .all-movies-option{
  width: 195px;
  height: 35px;
  padding-top: 12px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: lighter;
  border-bottom: 3px solid rgb(0, 253, 242);
  cursor: pointer;
 }

 .filters-options {
   display: none;
   position: absolute;
   background-color: rgb(255, 0, 164);
   color: white;
   border-radius: 15px;
   width: 200px;
   padding-left: 2px;
 }

 .filters-options h2.genre-label {
   color: white;
   font-size: 20px;
   font-weight: lighter;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   cursor: pointer;
 }

 .filters-options h2:hover {
   color: rgb(0, 253, 242);
   font-weight: bold;
 }

 p:hover {
   color: rgb(0, 253, 242);
   font-weight: bold;
 }

 .genre-label:hover {
   border-radius: 15px 15px 0 0;
 }

 .filters-dropdown:hover .filters-options {
   display: block;
 }

 .sub-options-genre {
   width: 200px;
   border-radius: 15px;
   display: none;
   position: absolute;
   top: 40px;
   left: 100%;
   padding: 10px 5px;
   background-color: rgb(255, 0, 164);
   color: white;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   cursor: pointer;
 }

 .fantasy-genre-li {
  border-bottom: 3px solid rgb(0, 253, 242);
 }

 .fantasy-genre,
 .prueba {
   margin-bottom: 5px;
 }

 .sci-fi-genre,
 .prueba2 {
   margin-top: 5px;
 }

 .filters-options li:hover .sub-options-genre {
   display: block;
 }

 .sub-options-genre .fantasy-genre.selected,
 .sub-options-genre .sci-fi-genre.selected {
   color: rgb(0, 253, 242);
   font-weight: bold;
 }