<div class="dropdown">
    <button class="dropbtn">
        <img src="../../../assets/images/filters.png" alt="ícono de filtros" class="filters-icon">
        <p class="button-text">Filtros</p>
    </button>
    <ul class="dropdown-content">
      <li>
        <p class="genre-label">Género</p>
        <ul class="sub-options-genre">
          <li class="fantasy-genre-li" (click)="onGenreClick('14')"><p class="fantasy-genre">Fantasía</p></li>
          <li class="sci-fi-genre-li" (click)="onGenreClick('878')"><p class="sci-fi-genre">Ciencia ficción</p></li>
        </ul>
      </li>
      <li>
        <p class="year-label">Año</p>
        <ul class="sub-options-year">
          <li class="year-one-li"><p class="prueba">Año 2000</p></li>
          <li><p class="prueba2">Año 2010</p></li>
        </ul>
      </li>
    </ul>
  </div>
  