.filter-sort-controls {
    display: flex;
    width: 100%;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
