<section class="homeSection">
    <div class="filter-sort-controls">
        <app-filter></app-filter>
        <app-sort-by (sortByChangeEvent)="onSortByChange($event)"></app-sort-by>
    </div>
    <div class="cardsContainer">
       <app-card *ngFor="let movie of movieList | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalResults }"
       [movie] = "movie" (click)="onCardClick(movie.id)">
    </app-card> 
    </div>
</section>
<app-paginator (pageChange)="onPageChange($event)"></app-paginator>
    