.movie-detail {
    margin-left: 80px;
    margin-bottom: 5%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    color: white;
}

.movie-poster {
    height: 500px;
    width: auto;

}

.details {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.votation,
.release,
.genres,
.runtime {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.votation{
    margin-top: 0 !important;
}

.vote-count, .release-date,
.genres-list,
.run-time {
    align-self: center;
    font-size: 18px;
    margin-left: 2%;
}

.vote-count{
    margin-top: 1%;
}

.sub-title-overview{
    margin-top: 3%;
}

.overview {
    width: 97%;
    font-size: 18px;
    text-align: justify;
    margin-top: 2.5%;
}

