.back-to-the-list{
display: flex;
align-items: center;
}

.back-button{
    margin-left: 80px;
}

button{
    height: 52px;
    width: 52px;
    border-radius: 30px;
    background-color:  rgb(255, 0, 164);;
    border: 0;
    cursor: pointer;
}

img{
    height: 35px;
    margin-right: 5%;
}

.back-text{
    color: white;
    font-size: 30px;
    margin-left: 2%;
}